body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace; /*'Press Start 2P' */
}

h1,h2{
    text-align: center;
}

h1{
    font-size: 3.5vw;
}

h2{
    font-size: 1.8vw;
}

#tablero{
    margin:auto;
    width: 65vw;
    max-width: 100%;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

#tablero>button{
    width: 21vw;
    height: 21vw;
    max-width: 160px;
    max-height: 160px;
    font-size: 8.5vw;
}

#textoVictoria{
    visibility: hidden;
    color: seagreen;
}

#reiniciar{
    font-size: 3vw;
    color: black;
}