body{
    margin-top: 40px;
    margin-left: 40px;
}

.circulo {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid black;
    background: silver;
    margin-bottom: 50px;
    margin-right: 50px;
}

.circulo>div {
    position: absolute;
    width: 10;
    height: 10px;
    border-radius: 50%;
    background: oranbge;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
}