
.circulo {
    position: relative;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 5px solid black;
    background: silver;
    margin-bottom: 2.5vw;
    margin-right: 2.5vw;
    max-width: 200px;
    max-height: 200px;
}

.circulo>div {
    position: absolute;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background: oranbge;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
}

table{
    margin: auto;
    max-width: 100%;
    flex-wrap: wrap;
}